---

- name: restart elasticsearch
  systemd:
    name: elasticsearch
    enabled: true
    state: restarted

- name: restart kibana
  systemd:
    name: kibana
    enabled: true
    state: restarted
