---
- name: Install required system packages
  become: true
  package:
    name:
      - nginx
    state: present
    update_cache: yes

- name: Ensure nginx is enabled and started
  become: true
  service:
    name: nginx
    enabled: true
    state: started
